.MainPage {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    background-image:  repeating-linear-gradient(45deg, #d9f1f2 25%, transparent 25%, transparent 75%, #d9f1f2 75%, #d9f1f2), repeating-linear-gradient(45deg, #d9f1f2 25%, #fff 25%, #fff 75%, #d9f1f2 75%, #d9f1f2);
    background-position: 0 0, 20px 20px;
    background-size: 40px 40px;
       height: 100%;
 
}

h2 {
    color: cadetblue;
    font-weight: 400;
    font-size: 35px;
}

.gif{   
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 30px;
    border: 3px solid rgb(216, 51, 122);
}